#progress_container{
    height: 40px;
    background-color: azure;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    justify-content: center;
}

#progress_bar{
    height: 100%;
    width: 50%;
    background-color: cadetblue;
    border-radius: 18px;
    animation: animation_bar 3s infinite;
}

@keyframes animation_bar {
    0%{width: 0%;}
    90%{width: 99%;}
    95%{width: 70%;}
    100%{width: 100%;}
    
}