#box{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}
#click{
    background-color: darkgrey;
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 10px 15px;
    margin: 100px;
}
#edit{
    height: 100px;
    width: 100px;
    background-color: cyan;
    border-radius: 50px dotted red;
}
.same{
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border: 5px;
}
#first{
    background-color: red;
    box-sizing: border-box;
}
#second{
    background-color: blue;
   box-sizing: content-box;
}
